

nav{
    float: left;
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0px 30px;
   
    background-image: linear-gradient(#1b4cef9a, #012733);
}
 
h1{
    color: rgb(166, 163, 247);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.one{
    color: rgb(122, 184, 255);
    
}
.logo{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: rgb(255, 255, 255);
    letter-spacing: 1.5px;
    cursor: pointer;
}

.navbar{
    
    color: aliceblue;
    font-size: 30px;
    display: inline-block;
    text-decoration: none;
    padding: 0px 30px;

}

nav li{
     display: inline-bloc;
     list-style: none;
    
}

nav li a{
    
    float: right;
    color: aliceblue;
    font-size: 18px;
    word-spacing: 20px;
    padding: 0px 30px;
    text-decoration: none;
}

nav li a:hover{
    background-color: rgba(232, 232, 232, 0.4);
    border-radius: 6px;
    transition: ease-in 0.3s;

} 


button{
    position: absolute;
    display: inline-block;
    font-size: 10px;
    padding: 1px 6px;
    margin: 1%;
    margin-left:900px;
    
    color: rgb(21, 74, 74);
     background-color:rgb(164, 44, 44); 
    background-color: white;
    border-radius: 12px;
    text-decoration: none;
    transition: ease 0.30s;
}

.container{
    width: 100%;
    min-height:90ch ;
    background-image:url(images/wallpaper3.jpg);
    background-size: 100%;
    background-position: center;
    padding: 10px 10px;
    background-size: cover;
}

.content{
    color: rgba(0, 0, 0, 0.985);
    margin-top: 14%;
    margin-left: 7%;
    max-width: 625px;
    font-size: large;
}
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
footer{
    background-color: #c0bfbf;
}
.footerContanier{
    width:100%;
    padding:2px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 1.2em;
    color: #111;
    opacity: 0.9;
}
/* hover effects on social media icons */
.socialIcons a:hover{
    background-color: #64c3f0;
    transition: 0.5s;
}
.socialIcons a:hover{
    color: aliceblue;
    transition: 0.5s;
}
.footerNav{
    margin: 05 px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
}
.footerNav ul li a{
    color: white;
    margin: 10px;
    text-decoration:underline;
    font-size: 1em;
    opacity:0.7;
    transition: 0.5s;
}
.footerNav ul li a{
    opacity: 1;
}
.footerBottom{
    padding: 5px;
    text-align: center;
}
.footerBottom{
    color: white;
}

.counter-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }
  
  .counter-column {
    text-align: center;
  }
  
  .counter {
    font-size: 48px;
    font-weight: bold;
  }
  
  .counter-label {
    margin-top: 10px;
  }

/*vehicle card slider*/
/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
}
.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #265DF2;
}

.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}

